<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>Sunlight Campaign Ad Monitor</title>
		<link rel="stylesheet" href="/static/styles/main.css" type="text/css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" href="/static/styles/buggy.css" type="text/css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" href="/static/styles/buggy7.css" type="text/css" media="screen" /><![endif]-->
	</head>
	<body class="{% block bodyclass %}home{% endblock %}">
		<div id="headerWrapper">
			<div id="header">
				<h1><a href="/"><small>Sunlight</small><big>Campaign Ad Monitor</big></a></h1>
				<form id="searchForm" action="/search" method="post">
					<span class="tip">Find ads, candidates or locations</span>
					<input id="id_search" type="text" value="Search Now" name="q"/>
					<button class="searchBtn" type="submit">
						<span>Go</span>
					</button>
				</form>
				<div class="clear"></div>
				{% block feature %}{% endblock %}
			</div>
			<div id="pageMain">
				{% block content %}{% endblock %}
				<div class="clear"></div>
				<div id="footer">
					<a id="sunlight" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
					<p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://www.sunligtfoundation.com">SunlightFoundation.com</a> to learn more.</p>
				</div>
			</div>
		</div>
		<script src="/static/scripts/jquery-1.4.2.min.js"></script>
		{% block scripts %}{% endblock %}
	</body>
</html>