<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="keywords" content="campaign monitor, campaign ad monitor, sunlight campaign ad monitor, Citizens United, corporate donations, labor union donations, political advertisements, political ads, election, 2010 election, campaign contributions, 2010 senate races, 2010 senate elections, 2010 congressional elections, congressional elections 2010, us elections 2010, federal election 2010" />
		<meta name="description" content="Did you know that special interests can now spend an unlimited amount of cash to try to influence your vote with TV, radio and Internet advertising? We've created Sunlight CAM to shine a light on who is buying your time, but we need your eyes and ears. Join us and become a Sunlight Campaign Ad Monitor to report on who buys ad time in support of or against candidates running for elected office or even issues on the ballot." />
		<meta property="og:title" content="Follow the money this election season. Join me as a Sunlight Campaign Ad Monitor."/>
		<meta property="og:description" content="Did you know that special interests can now spend an unlimited amount of cash to try to influence your vote with TV, radio and Internet advertising? We've created Sunlight CAM to shine a light on who is buying your time, but we need your eyes and ears. Join us and become a Sunlight Campaign Ad Monitor to report on who buys ad time in support of or against candidates running for elected office or even issues on the ballot."/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="http://assets.sunlightfoundation.com/sunlightcam/facebook_icon.jpg"/>
		<meta property="og:url" content="http://sunlightcam.com"/>
		<meta property="og:site_name" content="Sunlight CAM"/>
		<title>Sunlight Campaign Ad Monitor</title>
		<link rel="stylesheet" href="/static/styles/main.css" type="text/css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" href="/static/styles/buggy.css" type="text/css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" href="/static/styles/buggy7.css" type="text/css" media="screen" /><![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1265484-65']);
			_gaq.push(['_setDomainName', '.sunlightcam.com']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body class="{% block bodyclass %}home{% endblock %}">
	    <div id="navWrapper">
	        <div id="nav">
	            <ul>
			        <li id="about"><a href="/about">About</a></li>
			        <li id="share"><a href="/use">Share CAM</a></li>
			        <li><a href="/contact">Contact</a></li>
			    </ul> 
			    <div class="clear"></div>
	        </div>    
	    </div>    
		<div id="headerWrapper">
			<div id="header">
				<h1><a href="/"><small>Sunlight</small><big>Campaign Ad Monitor</big></a></h1>
				<form id="searchForm" action="/search" method="post">
					<span class="tip">Find ads, candidates or locations</span>
					<input id="id_search" type="text" placeholder="Search Now" name="q"/>
					<button class="searchBtn" type="submit">
						<span>Go</span>
					</button>
				</form>
				<div class="clear"></div>
				{% block feature %}{% endblock %}
			</div>
			<div id="pageMain">
				{% block content %}{% endblock %}
				<div class="clear"></div>   
				<div id="footer">
					<a id="sunlight" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
					<p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://www.sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
				</div>
			</div>
		</div>
		<script src="/static/scripts/jquery-1.4.2.min.js"></script>
		<script src="/static/scripts/jquery.placehold-0.2.min.js"></script>
		<script>
			$().ready(function() {
				var signup = $("#id_signup");
				$("#id_search").placehold();
				signup.placehold();
				$('button.signupBtn').click(function() {

					signup.attr('disabled', 'disabled');
					$(this).hide().after('<span>Just a moment...</span>');

					var data = {email: signup.val()};
					$.post('/subscribe', data, function(data) {
						$('#signup_form').hide();
						$('#signup_message').html(data.message).show();
					});

					return false;

				});
			});
		</script>
		{% block scripts %}{% endblock %}
		<script src="http://services.sunlightlabs.com/brandingbar/hat_js/sunlightcam/" type="text/javascript"></script>
	</body>
</html>