{% extends "base.html" %}

{% block bodyclass %}about{% endblock %}

{% block content %}
	<div id="fullColumn">
		
		{% if qdesc %}
			<h2 class="withAsset">Find ads <span id="searchResult">{{ qdesc|safe }}</span></h2>
		{% else %}
			{% if flagged %}
				<h2 class="withAsset">Flagged submissions</h2>
			{% else %}
				<h2 class="withAsset">Browse submissions</h2>
			{% endif %}
		{% endif %}
		
		{% if not flagged %}

			<a id="downloadLink" href="/download">Download all as CSV</a>
			<div class="clear"></div>
		
			<div id="filter">
				<span id="filterInstructions">Not seeing the results you’re after, revise your search below</span>
				<form action="/browse" method="get">
					<ul>
						{% for field in form %}
							<li>
								{{ field.label }}
								{{ field }}
							</li>
						{% endfor %}
						<li>
							<button class="filterBtn" type="submit">
								<span>Filter</span>
							</button>
						</li>
					</ul>
				</form>
				<div class="clear"></div>
				<a id="clearFilters" href="/browse#filter">clear filters</a>
			</div>
		
		{% endif %}
	
		{% if pager.total == 0 %}
			<p>Sorry, no submissions match your filter criteria.</p>
		{% else %}
	
			<table id="resultsTable">
				<thead>
					<tr id="titles">
						<th class="sort">Zip</th>
						<th class="sort">State</th>
						<th class="sort" id="dateAired">Date Aired</th>
						<th class="sort">Sponsor</th>
						<th class="sort">Aired On</th>
						<th class="sort">Support</th>
						<th class="sort">Candidate</th>
						<th>Issue</th>
						<th>Description</th>
						<th>Flag</th>
					</tr>
				</thead>
				<tbody>
					{% for s in submissions %}
						<tr class="{{ loop.cycle('even', 'odd') }} {{ s.mediatype }}{% if s.flagged %} flagged{% endif %}">
							<td class="zipcode">{{ s.zipcode }}</td>
							<td class="state">{{ s.state }}</td>
							<td class="date_aired" title="{{ s.date_aired }}">{{ s.date_aired|datetimeformat }}</td>
							<td class="sponsor">{{ s.sponsor }}</td>
							<td class="mediatype">{{ s|airedon }}</td>
							<td class="for_against {{ s.for_against }}" title="{{ s.for_against }} candidate">
								{{ s.for_against }}
							</td>
							<td class="candidate">{{ s.candidate }}</td>
							<td class="issue">{{ s.issue }}</td>
							<td class="description">{{ s.description }}</td>
							{% if flagged %}
								<td class="flag">
									<a href="#" data-id="{{ s._id }}" class="ok">ok</a>
									<a href="#" data-id="{{ s._id }}" class="remove">remove</a>
								</td>
							{% else %}
								<td class="flag"><a href="#" data-id="{{ s._id }}" class="flag">flag</a></td>
							{% endif %}
						</tr>
					{% endfor %}
				<tbody>
			</table>

			<div id="tableNav">

				{% if pager.has_previous %}
					{% if pager.previous_page == 1 %}
						<a id="previous" href="/browse{% if qs %}?{{ qs }}{% endif %}">« Previous</a>
					{% else %}
						<a id="previous" href="/browse?page={{ pager.previous_page }}{% if qs %}&amp;{{ qs }}{% endif %}">« Previous</a>
					{% endif %}
				{% endif %}

				{% if pager.last_page > 1 %}
					<div id="pagination">
						{% for i in range(1, pager.last_page + 1) %}
							{% if i == pager.page %}
								<span id="current">{{ i }}</span>
							{% else %}
								{% if i == 1 %}
									<a href="/browse{% if qs %}?{{ qs }}{% endif %}">1</a>
								{% else %}
									<a href="/browse?page={{ i }}{% if qs %}&amp;{{ qs }}{% endif %}">{{ i }}</a>
								{% endif %}
							{% endif %}
						{% endfor %}
						<!--
						{% if pager.page_start < pager.page_end %}Results {{ pager.page_start }} - {% else %}Result {% endif %}
						{{ pager.page_end }} of {{ pager.total }}
						-->
					</div>
				{% endif %}

				{% if pager.has_next %}
					<div id="nextWrapper">
						<a id="next" href="/browse?page={{ pager.next_page }}{% if qs %}&amp;{{ qs }}{% endif %}">Next »</a>
					</div>
				{% endif %}
		
			</div>
	
		{% endif %}
	
	</div>

{% endblock %}

{% block scripts %}
	<script src="/static/scripts/jquery.tablesorter.min.js"></script>
	<script type="text/javascript">
		$().ready(function() { 
			$("#resultsTable").tablesorter({
				headers: {
					7: { sorter: false },
					8: { sorter: false }
				},
				textExtraction: function(node) {
					var title = $(node).attr('title');
					return title ? title : node.innerHTML;
				}
			});
			{% if flagged %}
				$("a.remove").click(function(){
					var a = $(this);
					var sid = a.attr('data-id');
					$.post('/flag?remove', { submission: sid }, function() {
						a.parent().parent().addClass('removed');
					});
					return false;
				});
				$("a.ok").click(function() {
					var a = $(this);
					var sid = a.attr('data-id');
					$.post('/flag?ok', { submission: sid }, function() {
						a.parent().parent().removeClass('flagged');
					});
					return false;
				});
			{% else %}
				$("a.flag").click(function() {
					var a = $(this);
					var sid = a.attr('data-id');
					$.post('/flag', { submission: sid }, function() {
						a.parent().parent().addClass('flagged');
					});
					return false;
				});
			{% endif %}
		});
	</script>
{% endblock %}