<form id="reportAd" action="/submit" method="POST">
	{% if form.errors %}
		<ul class="errors">
			{% for field in form.errors %}
				<li>
					{{ form[field].label }}
					<ul>
						{% for err in form[field].errors %}
						<li>{{ err }}</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<fieldset class="initial">
		<ul>
			<li>
				{{ form.zipcode.label }}{{ form.zipcode(maxlength="5") }}
			</li>
			<li>
				{{ form.mediatype.label }}{{ form.mediatype }}
			</li>
		</ul>
		<button class="continueBtn" type="button">
			<span>Continue</span>
		</button>
	</fieldset>
	<fieldset class="final">
		<!-- <p>Please report the campaign ad aired on <span class="mediatype"></span> in <span class="zipcode"></span>.</p> -->
		<fieldset class="television">
			<ul>
				<li>
					{{ form.tv_provider.label }}
					{{ form.tv_provider }}
				</li>
				<li id="tv_channel_container">
					{{ form.tv_channel.label }}
					{{ form.tv_channel }}
					{{ form.tv_channel_other }}
				</li>
			</ul>
		</fieldset>
		<fieldset class="radio">
			<ul>
				<li>
					{{ form.radio_callsign.label }}
					{{ form.radio_callsign }}
				</li>
			</ul>
		</fieldset>
		<fieldset class="internet">
			<ul>
				<li>
					{{ form.internet_link.label }}
					{{ form.internet_link }}
				</li>
			</ul>
		</fieldset>
		<ul>
			<li>
				<label>Date Aired</label>
				{{ form.dt_month }}
				{{ form.dt_day }}
				{{ form.dt_year }}
				{{ form.dt_time }}
			</li>
			<li>
				{{ form.sponsor.label }}
				{{ form.sponsor }}
			</li>
			<li>
				{{ form.for_against.label }}
				{{ form.for_against }}
			</li>
			<li>
				{{ form.candidate.label }}
				{{ form.candidate }}
			</li>
			<li>
				{{ form.issue.label }}
				{{ form.issue }}
			</li>
			<li>
				{{ form.description.label }}
				{{ form.description }}
			</li>
		</ul>
		<button class="submitBtn" type="submit">
			<span>Submit</span>
		</button>
	</fieldset>
	{{ form.referrer }}
</form>