{% extends "base.html" %}

{% block feature %}
	<div id="feature">
		<p>Be a campaign monitor, report political ads you've seen recently</p>
	</div>
{% endblock %}

{% block content %}

	<div id="ltColumn">
		<h2 id="reportingTitle">Start Reporting</h2>
		{% include "form.html" %}
	</div>
	
	<div id="rtColumn">
		<h2 id="reportsTitle">Recent Reports</h2>
		<ul id="recentReports">
			{% for s in recent %}
				<li>
					<h3><a href="/browse?candidate={{ s.candidate }}">{{ s.candidate }}</a></h3>
					<span class="state">{{ s.state }}</span>
					<dl class="clear">
						<dt>Sponsored by:</dt>
						<dd>
							<a href="/browse?sponsor={{ s.sponsor }}">{{ s.sponsor }}</a>
							<span class="{{ s.for_against }}">{{ s.for_against|title }} Candidate</span>
						</dd>

						<dt>Aired On:</dt>
						<dd>
							{% if s.mediatype == 'radio' %}
								{{ s.radio_callsign }}
							{% elif s.mediatype == 'television' %}
								{{ s.tv_channel }} ({{ s.tv_provider }})
							{% else %}
								unknown
							{% endif %}
						</dd>
					</dl>
				</li>
			{% endfor %}
		</ul>
		<a class="viewMore" href="/browse">View All Reports</a>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		$().ready(function() {
			
			$('fieldset.initial button').click(function() {
				
				var mt = $('#mediatype').val();
				var zip = $('#zipcode').val();
				
				if (!zip.match(/\d{5}/)) {
					
					alert('A valid 5 digit zipcode is required');
					
				} else if (!mt) {
					
					alert('Media Type is required');
					
				} else {
					
					var fsFinal = $('fieldset.final');
					
					// fsFinal.find('span.mediatype').html(mt);
					// fsFinal.find('span.zipcode').html(zip);
					
					$('fieldset.' + mt).show();
					
					// $('fieldset.initial').hide();
					fsFinal.slideDown();
					
				}
				
				return false;
				
			});
			
			$('form#reportAd').submit(function() {
				var valid = true;
				var mt = $('#mediatype').val();
				var provider = $('#tv_provider').val();
				if (mt == 'television' && (provider == '---' || !provider)) {
					alert('Television provider is required');
					valid = false;
				}
				return valid;
			});
			
		});
	</script>
{% endblock %}