{% extends "base.html" %}

{% block feature %}
	<div id="feature">
		<p>Be a campaign monitor, report political ads you've seen recently</p>
	</div>
{% endblock %}

{% block content %}

	<div id="ltColumn">
		<h2 id="reportingTitle">Start Reporting</h2>
		{% include "form.html" %}
	</div>
	
	<div id="rtColumn">
		<h2 id="reportsTitle">Recent Reports</h2>
		<ul id="recentReports">
			{% for s in recent %}
				<li>
				    <div class="reportHeader">
					    <h3><a href="/browse?candidate={{ s.candidate }}">{{ s.candidate }}</a></h3>
					    <span class="state">{{ s.state }}</span>
					</div>
					<dl class="clear">
						<dt class="block">Sponsored by:</dt>
						<dd class="sponsorDefinition">
							<a href="/browse?sponsor={{ s.sponsor }}">{{ s.sponsor }}</a>
							<span class="{{ s.for_against }}">{{ s.for_against|title }} Candidate</span>
						</dd>

						<dt>Aired On:</dt>
						<dd>{{ s|airedon }}</dd>
					</dl>
				</li>
			{% endfor %}
		</ul>
		<a class="viewMore" href="/browse">View All Reports</a>
	</div>

{% endblock %}

{% block scripts %}
	<script src="/static/scripts/form.js"></script>
{% endblock %}