{% extends "base.html" %}

{% block bodyclass %}share{% endblock %}

{% block content %}

		<h2>Share Sunlight CAM on Your Website</h2>
		<p class="fullWidthp">Use the ads below on your website or blog to tell people about Sunlight CAM, and how they can help watchdog special interests. Simply choose the best graphic size for your site, and copy the embed code to use it.</p>
		<span class="tip">For more information on how to become a Sunlight CAM partner, <a href="/contact">click here</a>.</span>
		<ul id="ads">
		    <li>
                <h3>728x90</h3>
                <span class="embed">
					<a href="http://assets.sunlightfoundation.com/sunlightcam/ads/cam_728x90.jpg">Get embed code</a>
					<input type="text" value="" />
				</span>
				<div class="clear"></div>
                <img alt="728x90 ad" src="static/images/cam_728x90.jpg" />
            </li>
            <li class="clear">
                <h3>160x600</h3>
                <span class="embed">
					<a href="http://assets.sunlightfoundation.com/sunlightcam/ads/cam_160x600_2.jpg">Get embed code</a>
					<input type="text" value="" />
				</span>
				<div class="clear"></div>
                <img alt="160x600 ad" src="static/images/cam_160x600_2.jpg" />
            </li>
            <li>
                <h3>300x250</h3>
                <span class="embed">
					<a href="http://assets.sunlightfoundation.com/sunlightcam/ads/cam_300x250.jpg">Get embed code</a>
					<input type="text" value="" />
				</span>
				<div class="clear"></div>
                <img alt="300x250 ad" src="static/images/cam_300x250.jpg" />
            </li>
        </ul>
	
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$().ready(function() { 
			$('#ads span.embed a').click(function() {
				$(this).hide().siblings('input').show().val(
					'<a href="http://sunlightcam.com"><img src="' + this.href + '" alt="Sunlight CAM" /></a>'
				);
				return false;
			});
			$('#ads span.embed input').click(function() {
				this.select();
				return false;
			});
		};
	</script>
{% endblock %}