{% extends "base.html" %}

{% block bodyclass %}about{% endblock %}

{% block content %}

		<h2>Share CAM</h2>
		<p class="fullWidthp">The Supreme Court's ruling in the Citizens United case makes it much easier for corporations, labor unions and non-profits to run ads to influence elections. Keeping track of all the advertising will be a huge task. Sunlight's Campaign Ad Monitor gives readers and visitors of your website the opportunity to report on campaign ads they see. You can use the banner ads below on your website–just right click on the one you want to copy or save it. Each ad links to the data entry form--and makes your site part of our Campaign Ad Monitor network.</p>
		<span class="tip">Right click on each ad to copy or to save.</span>
		<ul id="ads">
		    <li>
                <h3>728x90</h3>
                <img alt="728x90 ad" src="static/images/cam_728x90.jpg" />
				<span class="embed">
					<a href="http://assets.sunlightfoundation.com/sunlightcam/ads/cam_728x90.jpg">Get embed code</a>
					<input type="text" value="" />
				</span>
            </li>
            <li class="clear">
                <h3>160x600</h3>
                <img alt="160x600 ad" src="static/images/cam_160x600_2.jpg" />
				<span class="embed">
					<a href="http://assets.sunlightfoundation.com/sunlightcam/ads/cam_160x600_2.jpg">Get embed code</a>
					<input type="text" value="" />
				</span>
            </li>
            <li>
                <h3>300x250</h3>
                <img alt="300x250 ad" src="static/images/cam_300x250.jpg" />
				<span class="embed">
					<a href="http://assets.sunlightfoundation.com/sunlightcam/ads/cam_300x250.jpg">Get embed code</a>
					<input type="text" value="" />
				</span>
            </li>
        </ul>
	
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		$().ready(function() { 
			$('#ads span.embed a').click(function() {
				$(this).hide().siblings('input').show().val(
					'<a href="http://sunlightcam.com"><img src="' + this.href + '" alt="Sunlight CAM" /></a>'
				);
				return false;
			});
			$('#ads span.embed input').click(function() {
				this.select();
				return false;
			});
		};
	</script>
{% endblock %}